# --- Build output ---
**/target/
**/build/
**/dist/
**/out/

# --- IDE ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/.agent
/.agents
/.claude
/.shared
/card-shwocase
./trae
/.qoder
/.shared
/video-backgrounds
/skills-local.json


# --- OS ---
.DS_Store
Thumbs.db

# --- Environment ---
.env
.env.local
.env.*.local

# --- Logs ---
*.log

# --- 本地文件 ---
/暂存文件